/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Typography */
body{
    font-family: 'Fredoka', sans-serif;
}
/* Common */
.container{
    max-width: 1400px;
    margin: 0 auto;
}
/* Header */
header{
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}
header h1{
    font-size: 40px;
    padding: 30px;
    color: #E53170;
}
/* Main */
.col{
    float: left;
    width: calc(100% / 3 - 36px);
    margin: 18px;
    background-color: #0F0E17;
}
.col .image{
    float: left;
    width: 24%;
    color: white;

}
img{
    width: 100%;
    display: block;
}
.col .info{
    float: left;
    width: 76%;
    color: white;
    padding: 15px;

}
.info h2{
    margin-bottom: 3px;
}
.info a{
    display: block;
    color: #00BDF3;
    text-decoration: none;
}